@model IEnumerable<CloudClinic.Models.UserWithRoleViewModel>
@{
    ViewBag.Title = "User With Role View Model";
}

<h2>Daftar User dengan Roles</h2>
<p>Halaman ini menunjukan users dengan batasan yang diberikan.</p>

<p>
    @Html.ActionLink("Tambah Baru", "AddUserToRole")
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }

</table>
