@model CloudClinic.Models.ViewModel.RoleViewModel

@{
    ViewBag.Title = "Update Role";
}

<h2>Update Role</h2>
<hr />
<div id="pesan">
</div>

@using (Ajax.BeginForm("UpdateRole", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "pesan"
}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.HiddenFor(model => model.RoleId)

        <div class="control-group">
            <label class="control-label" for="form-field-2">@Html.LabelFor(model => model.RoleName)</label>

            <div class="controls">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ShowAllRole")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
