@model IEnumerable<CloudClinic.Models.Pengguna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aturan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aturan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PenggunaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PenggunaId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
    </tr>
}

</table>
