@model CloudClinic.Models.PatientViewModel
@*@model CloudClinic.Models.Pasien*@
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Details User Login:</dt>
        <dd>
            [
                <a href="@Url.Action("Details", "Pasien", new { id = Model.PasienId })">
                    Check Details User Profile
                </a>
            ]
        </dd>
        <dt>Reservasi :</dt>
        <dd>
            [
            <a href="@Url.Action("Create", "Appointment")">
                Reservasi sekarang!
            </a>
            ]
        </dd>
        <dt>Histori Reservasi :</dt>
        <dd>
            [
            <a href="@Url.Action("DetailsReservasi", "Pasien", new { id = Model.PasienId })">
                Cek
            </a>
            ]
        </dd>
    </dl>

</div>
