@model CloudClinic.Models.BillingObat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillingObat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Obat.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obat.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transaction.Amnanesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transaction.Amnanesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BilObatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
