@model CloudClinic.Controllers.AppointmentViewModel

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/kendo/2014.3.1411/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2014.3.1411/kendo.default.min.css" rel="stylesheet" />

<script src="~/Scripts/kendo/2014.3.1411/jquery.min.js"></script>
<script src="~/Scripts/kendo/2014.3.1411/kendo.all.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Date").kendoDatePicker();

        $('#check').on('click', function () {
            var pasienId = $("#PasienId").val();
            var phoneNumber = $("#PhoneNumber").val();
            var keluhan = $("#Keluhan").val();
            var date = new Date($("#Date").val());
            var dateString = kendo.toString(date, "yyyy-MM-dd");
            var url = "@Url.Action("Check", "Appointment")" + "?pasienid=" + pasienId + "&date=" + dateString + "&phonenumber=" + phoneNumber + "&keluhan=" + keluhan;
            $('body').load(url);
        });
    });
</script>

<h2>Create</h2>

@using (Html.BeginForm("Create", "Appointment")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PasienId, "PasienId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.PasienId, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PasienId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Date)
                <input id="check" type="button" value="Check" />
                @Html.ValidationMessageFor(x => x.Date, null, new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" value="@Html.AttributeEncode(Model.IsTimeShowed)" name="IsTimeShowed" id="IsTimeShowed">

        @if (Model.IsTimeShowed)
        {
            <div class="form-group">
                @Html.Label("Sesi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime1Available)" name="IsTime1Available" id="IsTime1Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime2Available)" name="IsTime2Available" id="IsTime2Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime3Available)" name="IsTime3Available" id="IsTime3Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime4Available)" name="IsTime4Available" id="IsTime4Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime5Available)" name="IsTime5Available" id="IsTime5Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime6Available)" name="IsTime6Available" id="IsTime6Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime7Available)" name="IsTime7Available" id="IsTime7Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime8Available)" name="IsTime8Available" id="IsTime8Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime9Available)" name="IsTime9Available" id="IsTime9Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime10Available)" name="IsTime10Available" id="IsTime10Available">

                    <div id="timeContainer">
                        <fieldset>
                            <legend>Pilih salah satu sesi</legend>
                            <input @if (!Model.IsTime1Available) { <text> disabled</text> } type="radio" name="Session" id="time1" value="time1" /><label for="time1">8:00 - 8:30</label><br />
                            <input @if (!Model.IsTime2Available) { <text> disabled</text> } type="radio" name="Session" id="time2" value="time2" /><label for="time2">8:30 - 9:00</label><br />
                            <input @if (!Model.IsTime3Available) { <text> disabled</text> } type="radio" name="Session" id="time3" value="time3" /><label for="time3">9:00 - 9:30</label><br />
                            <input @if (!Model.IsTime4Available) { <text> disabled</text> } type="radio" name="Session" id="time4" value="time4" /><label for="time4">9:30 - 10:00</label><br />
                            <input @if (!Model.IsTime5Available) { <text> disabled</text> } type="radio" name="Session" id="time5" value="time5" /><label for="time5">10:00 - 10:30</label><br />
                            <input @if (!Model.IsTime6Available) { <text> disabled</text> } type="radio" name="Session" id="time6" value="time6" /><label for="time6">16:00 - 16:30</label><br />
                            <input @if (!Model.IsTime7Available) { <text> disabled</text> } type="radio" name="Session" id="time7" value="time7" /><label for="time7">16:30 - 17:00</label><br />
                            <input @if (!Model.IsTime8Available) { <text> disabled</text> } type="radio" name="Session" id="time8" value="time8" /><label for="time8">17:00 - 17:30</label><br />
                            <input @if (!Model.IsTime9Available) { <text> disabled</text> } type="radio" name="Session" id="time9" value="time9" /><label for="time9">17:30 - 18:00</label><br />
                            <input @if (!Model.IsTime10Available) { <text> disabled</text> } type="radio" name="Session" id="time10" value="time10" /><label for="time10">18:00 - 18:30</label><br />
                        </fieldset>
                    </div>
                    @Html.ValidationMessageFor(x => x.Session, null, new { @class = "text-danger" })
                </div>
            </div>
        }
        
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Keluhan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keluhan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
