@model CloudClinic.Models.DataModel.Appointment

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.default.min.css" />

<script src="http://kendo.cdn.telerik.com/2016.1.412/js/jquery.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PasienId, "PasienId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PasienId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PasienId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.JadwalId)

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>


        @*@Html.TextBoxFor(x => x.Jadwal.TanggalJadwal, new { style = "width: 100%" })
        <input type="hidden" value="@Html.AttributeEncode(Model.IsTimeShowed)" name="IsTimeShowed" id="IsTimeShowed">
        <input id="check" type="button" value="check" />*@
        @*@if (Model.IsTimeShowed)
        {
            <input type="hidden" value="@Html.AttributeEncode(Model.IsTime1Available)" name="IsTime1Available" id="IsTime1Available">
            <input type="hidden" value="@Html.AttributeEncode(Model.IsTime1Available)" name="IsTime1Available" id="IsTime1Available">
            <input type="hidden" value="@Html.AttributeEncode(Model.IsTime1Available)" name="IsTime1Available" id="IsTime1Available">
            <div id="timeContainer">
                <fieldset>
                    <legend>Please select one of the following</legend>
                    <input @if (!Model.IsTime1Available) { <text> disabled</text> } type="radio" name="Time" id="time1" value="8:00 - 8:30" /><label for="time1">8:00 - 8:30</label><br />
                    <input @if (!Model.IsTime1Available) { <text> disabled</text> } type="radio" name="Time" id="time2" value="8:30 - 9:00" /><label for="time2">8:30 - 9:00</label><br />
                    <input @if (!Model.IsTime1Available) { <text> disabled</text> } type="radio" name="Time" id="time3" value="9:00 - 9:30" /><label for="time3">9:00 - 9:30</label><br />
                </fieldset>
            </div>
        }*@



        <div class="form-group">
            @Html.LabelFor(model => model.Keluhan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keluhan, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.HiddenFor(model => model.CreatedAt)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <script>
            $(document).ready(function () {
                $("#TanggalJadwal").kendoDatePicker();

                $('#check').on('click', function () {
                    var date = new Date($("#TanggalJadwal").val());
                    var dateString = kendo.toString(date, "yyyy-MM-dd");
                    var url = "@Url.Action("Check", "Create")" + "?date=" + dateString;
                    $('body').load(url);
                });
            });
    </script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
