@model CloudClinic.Models.DataModel.Appointment

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.default.min.css" />

<script src="http://kendo.cdn.telerik.com/2016.1.412/js/jquery.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PasienId, "Username :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.PasienId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("PasienId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PasienId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@Html.HiddenFor(model => model.JadwalId)*@

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Keluhan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Keluhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keluhan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @*@Html.LabelFor(model => model.JadwalId, "Tgl. Jadwal", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    
                    @*@Html.TextBoxFor(x => x., new { style = "width: 100%" })*@
                </div>
                <input type="hidden" value="@Html.AttributeEncode(Model.IsTimeShowed)" name="IsTimeShowed" id="IsTimeShowed">
                <input id="check" type="button" value="check" />
                if (Model.IsTimeShowed)
                {
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime1Available)" name="IsTime1Available" id="IsTime1Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime2Available)" name="IsTime2Available" id="IsTime2Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime3Available)" name="IsTime3Available" id="IsTime3Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime4Available)" name="IsTime4Available" id="IsTime4Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime5Available)" name="IsTime5Available" id="IsTime5Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime6Available)" name="IsTime6Available" id="IsTime6Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime7Available)" name="IsTime7Available" id="IsTime7Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime8Available)" name="IsTime8Available" id="IsTime8Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime9Available)" name="IsTime9Available" id="IsTime9Available">
                    <input type="hidden" value="@Html.AttributeEncode(Model.IsTime10Available)" name="IsTime10Available" id="IsTime10Available">

                    <div id="timeContainer">
                        <fieldset>
                            <legend>Please select one of the following</legend>
                            <input @if (!Model.IsTime1Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time1" value="8:00 - 8:30" /><label for="time1">8:00 - 8:30</label><br />
                            <input @if (!Model.IsTime2Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time2" value="8:30 - 9:00" /><label for="time2">8:30 - 9:00</label><br />
                            <input @if (!Model.IsTime3Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time3" value="9:00 - 9:30" /><label for="time3">9:00 - 9:30</label><br />
                            <input @if (!Model.IsTime4Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time4" value="9:30 - 10:00" /><label for="time4">9:30 - 10:00</label><br />
                            <input @if (!Model.IsTime5Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time5" value="10:00 - 10:30" /><label for="time5">10:00 - 10:30</label><br />

                            <input @if (!Model.IsTime6Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time6" value="16:00 - 16:30" /><label for="time6">16:00 - 16:30</label><br />
                            <input @if (!Model.IsTime7Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time7" value="16:30 - 17:00" /><label for="time7">16:30 - 17:00</label><br />
                            <input @if (!Model.IsTime8Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time8" value="17:00 - 17:30" /><label for="time8">17:00 - 17:30</label><br />
                            <input @if (!Model.IsTime9Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time9" value="17:30 - 18:00" /><label for="time9">17:30 - 18:00</label><br />
                            <input @if (!Model.IsTime10Available) { <text> disabled</text> } type="radio" name="TanggalJadwal" id="time10" value="18:00 - 18:30" /><label for="time10">18:00 - 18:30</label><br />


                        </fieldset>
                    </div>
                }            
        </div>


        


        @Html.HiddenFor(model => model.CreatedAt)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <script>
            $(document).ready(function () {
                $("#TanggalJadwal").kendoDatePicker();

                $('#check').on('click', function () {
                    var date = new Date($("#TanggalJadwal").val());
                    var dateString = kendo.toString(date, "yyyy-MM-dd");
                    var url = "@Url.Action("Check", "Create")" + "?date=" + dateString;
                    $('body').load(url);
                });
            });
    </script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
