@model CloudClinic.Models.DataModel.Pembelian

@{
    ViewBag.Title = "Tambah";
}

<h2>Tambah Pembelian</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pembelian</h4>
        <hr />
        <div class="form-group">
            @if (ViewBag.Error == null)
            {
                <div class="alert alert-info">@ViewBag.Pesan</div>
            }
            else
            {
                <div class="alert alert-warning">
                    <ul>
                        @foreach (var err in ViewBag.Error)
                        {
                            <li>@err</li>
                        }
                    </ul>
                </div>
            }
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BarangId, "Nama Barang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-2">
                @Html.DropDownList("BarangId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BarangId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TglBeli, "Tgl. Pembelian", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DatePickerFor(model => model.TglBeli))
                @Html.ValidationMessageFor(model => model.TglBeli, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-1">
                @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Harga, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-2">
                @Html.EditorFor(model => model.Harga, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Harga, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tambah" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
