@model IEnumerable<CloudClinic.Models.JenisTindakan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaTindakan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaTindakan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JenisTindakanId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JenisTindakanId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
    </tr>
}

</table>
