@model IEnumerable<CloudClinic.Models.JenisObat>

@{
    ViewBag.Title = "Daftar Jenis Obat";
}

<h2>Daftar Jenis Obat</h2>

<p>
    @Html.ActionLink("Tambah Jenis Obat", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaJenis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaJenis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JenisObatId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JenisObatId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
    </tr>
}

</table>
