@model CloudClinic.Models.DataModel.BillingJasa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillingJasa</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Billing Jasa ID :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namaUnik)
        </dd>
        <dt>
            Diagnosis ID :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis.namaUnik)
        </dd>

        <dt>
            Dokter :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis.Pengguna.Nama)
        </dd>

        <dt>
            Pasien :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis.Pasien.Nama)
        </dd>

        <dt>
            Diagnosis Pasien :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis.Amnanesa)
        </dd>
                     
        <dt>
            Posisi Gigi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gigi)
        </dd>

        <dt>
            Tindakan yang diberikan :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tindakan.NamaTindakan)
        </dd>

        <dt>
            Harga :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tindakan.Harga)
        </dd>

        <dt>
            Tgl. Pemeriksaan :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglDatang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BilJasaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
