@model CloudClinic.Models.DataModel.BillingJasa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillingJasa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis.Amnanesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis.Amnanesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tindakan.NamaTindakan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tindakan.NamaTindakan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasienId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasienId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gigi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gigi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TglDatang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglDatang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BilJasaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
