@model IEnumerable<CloudClinic.Models.DataModel.BillingJasa>

@{
    ViewBag.Title = "Daftar Pemeriksaan";
}

<h2>Daftar Pemeriksaan</h2>
@if (User.IsInRole("Dokter"))
{
    <p>
        @Html.ActionLink("Tambah Baru", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Username
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnosis.Amnanesa)
        </th>
        <th>
            Tindakan
        </th>
        <th>
            Posisi Gigi
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga)
        </th>
        <th>
            Tgl. Datang
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.namaUnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pasien.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnosis.Amnanesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tindakan.NamaTindakan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gigi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglDatang)
        </td>
@if (User.IsInRole("Dokter"))
{
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BilJasaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BilJasaId }) |
            @Html.ActionLink("Delete", "DeleteJasa", new { id = item.BilJasaId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
}
    </tr>
}

</table>
