@model IEnumerable<CloudClinic.Models.BillingJasa>

@{
    ViewBag.Title = "Daftar Billing Jasa";
}

<h2>Daftar Billing Jasa</h2>

<p>
    @Html.ActionLink("Tambah Billing", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nama Tindakan
        </th>
        <th>
            Amnanesa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tindakan.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction.Amnanesa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BilJasaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BilJasaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BilJasaId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
    </tr>
}

</table>
