@model CloudClinic.Models.DataModel.BillingObat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillingObat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Barang.NamaBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barang.NamaBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pasien.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasien.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TglDatang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglDatang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BilObatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
