@model IEnumerable<CloudClinic.Models.DataModel.Obat>

@{
    ViewBag.Title = "Daftar Obat";
}

<h2>Daftar Obat</h2>
@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Tambah Obat", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>
            Jenis Obat
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stok)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JenisObatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stok)
        </td>
@if (User.IsInRole("Admin"))
{
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ObatId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ObatId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
}
    </tr>
}

</table>
