@model CloudClinic.Models.Jadwal

@{
    ViewBag.Title = "Tambah Jadwal";
}

<h2>Tambah Jadwal</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Halaman ini ditujukan untuk dokter menambahkan jadwal reservasi klinik</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.JadwalId)
        @Html.HiddenFor(model => model.PenggunaId)
        <div class="form-group">
            @Html.LabelFor(model => model.PenggunaId,"Dokter :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <text class="form-control">@User.Identity.Name</text>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TanggalJadwal, "Tgl. Jadwal :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.Kendo().DatePickerFor(model => model.TanggalJadwal)

                @*@Html.EditorFor(model => model.Hari, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TanggalJadwal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sesi, "Sesi :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.RadioButtonFor(m => m.Sesi, "time1", new { id = "time1" })
                <label for"time1">Sesi 1 : 08:00 - 08:30</label>
                @Html.RadioButtonFor(m => m.Sesi, "time2", new { id = "time2" })
                <label for"time1">Sesi 2 : 08:30 - 09:00</label>
                @Html.RadioButtonFor(m => m.Sesi, "time3", new { id = "time3" })
                <label for"time3">Sesi 3 : 09:00 - 09:30</label><br />
                
                @Html.RadioButtonFor(m => m.Sesi, "time4", new { id = "time4" })
                <label for"time4">Sesi 4 : 09:30 - 10:00</label>
                @Html.RadioButtonFor(m => m.Sesi, "time5", new { id = "time5" })
                <label for"time5">Sesi 5 : 10:00 - 10:30</label><br /><br />

                <button class="col-md-5" disabled>Break Time (10:31 - 15.59)</button><br /><br /><br />

                @Html.RadioButtonFor(m => m.Sesi, "time6", new { id = "time6" })
                <label for"time6">Sesi 6 : 16:00 - 16:30</label>

                @Html.RadioButtonFor(m => m.Sesi, "time7", new { id = "time7" })
                <label for"time7">Sesi 7 : 16:30 - 17:00</label>
                @Html.RadioButtonFor(m => m.Sesi, "time8", new { id = "time8" })
                <label for"time8">Sesi 8 : 17:00 - 17:30</label><br />
                @Html.RadioButtonFor(m => m.Sesi, "time9", new { id = "time9" })
                <label for"time9">Sesi 9 : 17:30 - 18:00</label>

                @Html.RadioButtonFor(m => m.Sesi, "time10", new { id = "time10" })
                <label for"time10">Sesi 10 : 18:00 - 18:30</label>

                @*@Html.EditorFor(model => model.Sesi, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Sesi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ruang, "Ruang :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.RadioButtonFor(m => m.Ruang, "Ruang 1", new { id = "Ruang1" })
                <label for"Ruang1">Ruang 1</label>
                @Html.RadioButtonFor(m => m.Ruang, "Ruang 2", new { id = "Ruang2" })
                <label for"Ruang2">Ruang 2</label>

                @*@Html.EditorFor(model => model.Ruang, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Ruang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tambah" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.Error == null)
            {
                <div class="alert alert-info">@ViewBag.Pesan</div>
            }
            else
            {
                <div class="alert alert-warning">
                    <ul>
                        @foreach (var err in ViewBag.Error)
                    {
                            <li>@err</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
