@model CloudClinic.Controllers.JadwalViewModel

@{
    ViewBag.Title = "Tambah Jadwal";
}

<h2>Tambah Jadwal</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Halaman ini ditujukan untuk dokter menambahkan jadwal reservasi klinik</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        @Html.HiddenFor(model => model.JadwalId)
        @Html.HiddenFor(model => model.PenggunaId)
        <div class="form-group">
            @Html.LabelFor(model => model.PenggunaId, "Dokter :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <text class="form-control">@User.Identity.Name</text>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TanggalJadwal, "Tgl. Mulai :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.Kendo().DatePickerFor(model => model.TanggalJadwal)

                @*@Html.EditorFor(model => model.Hari, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TanggalJadwal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TanggalJadwal, "Tgl. Akhir :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.Kendo().DatePickerFor(model => model.Finish)

                @*@Html.EditorFor(model => model.Hari, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sesi, "Sesi :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                

                <fieldset>                    
                    <legend>Pilih Sesi yang ingin dijadwalkan :</legend>
                    @if (User.Identity.Name.Equals("andisetiawan"))
                    {
                        @Html.CheckBoxFor(model => model.IsTime1Check)<label for="Time1">8:00 - 8:30</label><br />
                        @Html.CheckBoxFor(model => model.IsTime2Check)<label for="Time2">8:30 - 9:00</label><br />
                        @Html.CheckBoxFor(model => model.IsTime3Check)<label for="Time3">9:00 - 9:30</label><br />
                        @Html.CheckBoxFor(model => model.IsTime4Check)<label for="Time4">9:30 - 10:00</label><br />
                        @Html.CheckBoxFor(model => model.IsTime5Check)<label for="Time5">10:00 - 10:30</label><br />
                    }
                    @if (User.Identity.Name.Equals("boudy"))
                    {
                        @Html.CheckBoxFor(model => model.IsTime6Check)<label for="Time6">16:00 - 16:30</label><br />
                        @Html.CheckBoxFor(model => model.IsTime7Check)<label for="Time7">16:30 - 17:00</label><br />
                        @Html.CheckBoxFor(model => model.IsTime8Check)<label for="Time8">17:00 - 17:30</label><br />
                        @Html.CheckBoxFor(model => model.IsTime9Check)<label for="Time9">17:30 - 18:00</label><br />
                        @Html.CheckBoxFor(model => model.IsTime10Check)<label for="Time10">18:00 - 18:30</label><br />
                    }
                </fieldset>

                <input @if (Model.IsTime1Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time1" value="Time1" />
                <input @if (Model.IsTime2Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time2" value="Time2" />
                <input @if (Model.IsTime3Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time3" value="Time3" />
                <input @if (Model.IsTime4Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time4" value="Time4" />
                <input @if (Model.IsTime5Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time5" value="Time5" />
                <input @if (Model.IsTime6Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time6" value="Time6" />
                <input @if (Model.IsTime7Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time7" value="Time7" />
                <input @if (Model.IsTime8Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time8" value="Time8" />
                <input @if (Model.IsTime9Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time9" value="Time9" />
                <input @if (Model.IsTime10Check == true) { <text> checked</text> } type="hidden" name="Sesi" id="Time10" value="Time10" />
                                   
                @Html.ValidationMessageFor(model => model.Sesi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ruang, "Ruang :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.RadioButtonFor(m => m.Ruang, "Ruang 1", new { id = "Ruang1" })
                <label for"Ruang1">Ruang 1</label>
                @Html.RadioButtonFor(m => m.Ruang, "Ruang 2", new { id = "Ruang2" })
                <label for"Ruang2">Ruang 2</label>

                @*@Html.EditorFor(model => model.Ruang, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Ruang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tambah" class="btn btn-default" />
            </div>
        </div>

        @*<div class="form-group">
            @if (ViewBag.Error == null)
            {
                <div class="alert alert-info">@ViewBag.Pesan</div>
            }
            else
            {
                <div class="alert alert-warning">
                    @ViewBag.Error
                </div>
            }
        </div>*@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
