@model CloudClinic.Models.Jadwal

@{
    ViewBag.Title = "Update Jadwal";
}

<h2>Update Jadwal</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Jadwal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JadwalId)

        @Html.HiddenFor(model => model.PenggunaId)

        <div class="form-group">
            @Html.LabelFor(model => model.TanggalJadwal, "Tgl. Jadwal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.Kendo().DatePickerFor(model => model.TanggalJadwal)

                @*@Html.EditorFor(model => model.Hari, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TanggalJadwal, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Sesi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 1 : 08:00 - 08:30", new { id = "Sesi1" })
                <label for"Sesi1">Sesi 1 : 08:00 - 08:30</label>
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 2 : 08:30 - 09:00", new { id = "Sesi2" })
                <label for"Sesi2">Sesi 2 : 08:30 - 09:00</label>
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 3 : 09:00 - 10:00", new { id = "Sesi3" })
                <label for"Sesi3">Sesi 3 : 09:00 - 10:00</label><br />
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 4 : 10:00 - 11:30", new { id = "Sesi4" })
                <label for"Sesi4">Sesi 4 : 10:00 - 11:30</label>
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 5 : 11:30 - 12:00", new { id = "Sesi5" })
                <label for"Sesi5">Sesi 5 : 11:30 - 12:00</label>

                @Html.RadioButtonFor(m => m.Sesi, "Sesi 6 : 16:00 - 16:30", new { id = "Sesi6" })
                <label for"Sesi6">Sesi 6 : 16:00 - 16:30</label><br />
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 7 : 16:30 - 17:00", new { id = "Sesi7" })
                <label for"Sesi7">Sesi 7 : 16:30 - 17:00</label>
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 8 : 17:00 - 17:30", new { id = "Sesi8" })
                <label for"Sesi8">Sesi 8 : 17:00 - 17:30</label>
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 9 : 17:30 - 18:00", new { id = "Sesi9" })
                <label for"Sesi9">Sesi 9 : 17:30 - 18:00</label>
                @Html.RadioButtonFor(m => m.Sesi, "Sesi 10 : 18:00 - 18:30", new { id = "Sesi10" })
                <label for"Sesi10">Sesi 10 : 18:00 - 18:30</label>
                @Html.ValidationMessageFor(model => model.Sesi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ruang, "Ruang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.RadioButtonFor(m => m.Ruang, "Ruang 1", new { id = "Ruang1" })
                <label for"Ruang1">Ruang 1</label>
                @Html.RadioButtonFor(m => m.Ruang, "Ruang 2", new { id = "Ruang2" })
                <label for"Ruang2">Ruang 2</label>

                @*@Html.EditorFor(model => model.Ruang, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Ruang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
