@model IEnumerable<CloudClinic.Models.Reservation>

@{
    ViewBag.Title = "Daftar Reservasi";
}

<h2>Daftar Reservasi</h2>
<p>
    @Html.ActionLink("Tambah Reservasi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jadwal.PilihanJadwal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pasien.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pengguna.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglReservasi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jadwal.PilihanJadwal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pasien.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pengguna.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglReservasi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
    </tr>
}

</table>
