@model CloudClinic.Models.Pasien

@{
    ViewBag.Title = "UserDetails";
}

<h2>UserDetails</h2>

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>User Details</legend>
            <p>
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                <input type="button" id="GetUser" value="Populate User Details" onclick='populateUserDetails()' />
            </p>
            <p>
                @Html.LabelFor(model => model.Nama, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
            </p>
            <p>
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
            </p>
        </fieldset>

    </div>
}