@model CloudClinic.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pasien.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasien.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pengguna.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TanggalDatang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDatang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amnanesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amnanesa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
