@model IEnumerable<CloudClinic.Models.Transaction>

@{
    ViewBag.Title = "Daftar Transaksi";
}

<h2>Daftar Transaksi CloudClinic</h2>
@if (User.IsInRole("Dokter"))
{
<p>
    @Html.ActionLink("Checkout Billing Jasa >>", "Create", "BillingJasa", null, new { @class = "btn-btn-warning" })
</p>

<p>
    @Html.ActionLink("Tambah Transaksi", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            Pasien
        </th>
        <th>
            Dokter
        </th>
        <th>
            Tanggal Datang
        </th>
        <th>
            Anamnesa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pasien.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pengguna.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TanggalDatang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amnanesa)
        </td>
@if (User.IsInRole("Dokter"))
{
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" }) |
            @Html.ActionLink("Create","BillingJasa", "Pilih", new { id = item.PasienId })
        </td>
}
    </tr>
}

</table>
