@model IEnumerable<CloudClinic.Models.Pasien>

@{
    ViewBag.Title = "Index";
}

<h2>Daftar Pasien</h2>

<p>
    @Html.ActionLink("Tambah Pasien", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglLhr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolDarah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglRegistrasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiwayatSakit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglLhr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolDarah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglRegistrasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiwayatSakit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PasienId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PasienId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
    </tr>
}

</table>
