@model IEnumerable<CloudClinic.Models.Pasien>

@{
    ViewBag.Title = "Daftar Pasien";
}

<h2>Daftar Pasien</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Tambah Pasien", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>
            Tgl. Lahir
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            Gol. Darah
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th>
            Telpon
        </th>
        <th>
            Tgl. Registrasi
        </th>
        <th>
            Riwayat Sakit
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglLhr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolDarah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglRegistrasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiwayatSakit)
        </td>

@if (User.IsInRole("Admin"))
{
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PasienId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PasienId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PasienId },
            new { onclick = "return confirm('Apakah anda yakin mendelete data ini ?');" })
        </td>
}
    </tr>
}

</table>
